<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <img
          src="assets/images/login.jpg"
          ngSrc="assets/images/login.jpg"
          ngOptimizedImage
          alt="Login Image"
          class="login-image"
        />
      </div>
      <!-- Using (ngSubmit) for form submission -->
      <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm">
        <ion-item class="input-item">
          <ion-label position="relative">Username</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="username"
            name="username"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="relative">Password</ion-label>
          <ion-input
            [type]="passwordType"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="passwordIcon"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Remember Me</ion-label>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </form>

      <!-- Alternate Login Methods -->
      <ion-button expand="block" class="alt-login-btn"
        >Login with Fingerprint</ion-button
      >
      <ion-button expand="block" class="alt-login-btn google-btn"
        >Sign in with Google</ion-button
      >
      <ion-button expand="block" class="alt-login-btn facebook-btn"
        >Continue with Facebook</ion-button
      >

      <!-- Forgot Links -->
      <div class="forgot-links">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <a routerLink="/create-account">Create a new account</a>
      </div>
    </div>
  </div>
</ion-content>
